# Автоматическая сборка exe-файла
name: Build

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Build with g++
      run: g++ -o StudentGrades.exe main.cpp -static
    
    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: StudentGrades
        path: StudentGrades.exe
